/* image-slider.component.css */
.slider-container {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: auto;
}

.slider-image {
  width: 100%;
  height: auto;
  transition: opacity 0.5s ease-in-out; /* Add a smooth transition effect */
}

.nav-buttons {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

button {
  padding: 10px;
  background-color: #3498db;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #2980b9;
}
