<!-- <div class="slideshow-container" #myDiv>
    <div class="mySlides fade">
      <div class="numbertext">{{ slideIndex + 1}} / {{ images.length }}</div>
      <img
      [src]="images[slideIndex]" 
      style="width:100%"
    />
      
    </div>
  
    <a class="prev" (click)="plusSlides(-1)">&#10094;</a>
    <a class="next" (click)="plusSlides(1)">&#10095;</a>
  </div> -->
  <!-- <div class="slideshow-container">

<div class="mySlides fade">
  <div class="numbertext">1 / 3</div>
  <img src="img_nature_wide.jpg" style="width:100%">
  <div class="text">Caption Text</div>
</div>

<div class="mySlides fade">
  <div class="numbertext">2 / 3</div>
  <img src="img_snow_wide.jpg" style="width:100%">
  <div class="text">Caption Two</div>
</div>

<div class="mySlides fade">
  <div class="numbertext">3 / 3</div>
  <img src="img_mountains_wide.jpg" style="width:100%">
  <div class="text">Caption Three</div>
</div>

</div>
<br>

<div style="text-align:center">
  <span class="dot"></span> 
  <span class="dot"></span> 
  <span class="dot"></span> 
</div> -->
<!-- <div class="mall-slide">
    <div class="slid-content">
        <div class="mall-show-slide fade" *ngFor="let item of imageData;">
            <img src="{{item}}" style="width:100%">
        </div>
        <div class="mall-carousel-ind">
            <ul>
                <li *ngFor="let item of imageData; let i = index;" [class.mall-this]="startIndex - 1 === i"></li>
            </ul>
        </div>
    </div>
</div> -->
<!-- image-slider.component.html -->

  <!-- image-slider.component.html -->
<div class="slider-container">
    <img class="slider-image" [src]="'assets/images/' + images[currentImageIndex]" alt="Slide Image">
<!--     
    <div class="nav-buttons">
      <button (click)="prevImage()">Previous</button>
      <button (click)="nextImage()">Next</button>
    </div> -->
  </div>
  
  