<div>
    <div class="container mt-5">
       <div class="card">
        <div class="card-header">
            <h4>Article Create
            
        </h4>
        </div>
        <div class="card-body">

            <form (ngSubmit)="saveArticle()">
                <div class="mb-3">
                    <label>Title</label>
                    <input type="text" [(ngModel)] ="title" name="title" class="form-control">  
                </div>
                <div class="mb-3">
                    <label>Description</label>
                    <input type="text" [(ngModel)] ="description" name="description" class="form-control">  
                </div>
                <div class="mb-3">
                    <label>File_path</label>
                    <input type="file" [(ngModel)] ="file_path" name="file_path" class="form-control">  
                </div>
                <div class="mb-3">
                    <label>Video_link</label>
                    <input type="video_link" [(ngModel)] ="video_link" name="video_link" class="form-control">  
                </div>
                <div class="mb-3">
                    <label>Help_Comment</label>
                    <input type="text" [(ngModel)] ="help_comment" name="help_comment" class="form-control">  
                </div>
                <div class="mb-3">
                     <button type ="submit" routerLink="/article" class="btn btn-primary">Save</button>&nbsp;
                     <!-- <a routerLink="/" class="btn btn-danger float-end">Back</a> -->
                     <button type ="submit" routerLink="/" class="btn btn-danger">Back</button>
                </div>
            </form>
        </div>
       </div>
    </div>
</div>